In [2]:
import pandas as pd #importa a biblioteca pandas

In [7]:
df =pd.read_csv('creditcard (1).csv',sep=',') #comando para ler o arquivo csv da base de dados

In [5]:
df.head() # exibir as primeiras linhas do dataframe

NameError: name 'df' is not defined

In [6]:
df.tail() #exibe as ultimas linhas do dataframe

NameError: name 'df' is not defined

In [ ]:
df.info() #exibe informações do dataframe

In [ ]:
df.describe() # exibe informações estatísticas do dataframe

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [ ]:
n_transacoes = df['Class'].count() # Realiza a contagem do numero de transações do dataframe
n_transacoes

284807

In [ ]:
df.head(1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0

In [ ]:
n_fraudes = df['Class'].sum() #soma os valores das transações bancarias
n_fraudes

492

In [ ]:
#calculo da quantidade de transações normais do dataframe
n_normais = n_transacoes - n_fraudes
n_normais

284315

In [ ]:
df['Class'].value_counts() # conta o numero de transações

Class
0    284315
1       492
Name: count, dtype: int64

In [ ]:
n_porcentagem_normais =(n_normais/n_transacoes)*100
print(f'Porcentagem de transações normais {n_porcentagem_normais}')
n_porcentagem_fraudes = (n_fraudes/n_transacoes)*100
print(f'Porcentagem de transações com fraude {n_porcentagem_fraudes}')

Porcentagem de transações normais 99.82725143693798
Porcentagem de transações com fraude 0.1727485630620034

In [ ]:
# Definindo as variaveis para o modelo
X =df.drop('Class',axis=1).values #exclui a coluna Class
y = df['Class'].values # armazena em y a coluna Class

In [ ]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit #importa o modelo para
#dividir o dataframe

In [ ]:
validador = StratifiedShuffleSplit(n_splits=1,test_size=0.1,random_state=0)

In [ ]:
#Definindo conjunto de treino e teste para o modelo
for treino_id,teste_id in validador.split(X,y):
    x_train,x_test = X[treino_id],X[teste_id]
    y_train, y_test = y[treino_id],y[teste_id]

In [ ]:
from sklearn import tree # importa da bibliote sklearn o método tree
classificador_arvore = tree.DecisionTreeClassifier() # variavel que armazena a arvore de decisao

In [ ]:
arvore = classificador_arvore.fit(x_train, y_train) #Cria modelo de arvore de decisao

In [ ]:
y_pred = arvore.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
def validador(X,y):
    validador = StratifiedShuffleSplit(n_splits=1, test_size=0.1, random_state=0)
    for treino_id, teste_id in validador.split(X, y):
        X_train, X_test = X[treino_id], X[teste_id]
        y_train, y_test = y[treino_id], y[teste_id]
    return X_train, X_test, y_train, y_test

In [ ]:
def executar_classificador(classificador, x_train,y_train,x_test,y_test):
    arvore= classificador.fit(x_train,y_train)
    y_pred = arvore.predict(x_test)
    return y_pred

In [ ]:
classificador_arvore_decisao = tree.DecisionTreeClassifier()
y_pred_arvore_decisao = executar_classificador(classificador_arvore_decisao, x_train, 
y_train,x_test, y_test)
import matplotlib.pyplot as plt
def salvar_arvore(classificador_arvore_decisao,nome):
    plt.figure(figsize=(200,100))
    tree.plot_tree(classificador_arvore_decisao,filled = True, fontsize=14)
    plt.savefig(nome)    
    plt.close()

In [ ]:
salvar_arvore(classificador_arvore_decisao,"arvore transações-bancarias.jpg")

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

In [ ]:
def validar_arvore(y_test,y_pred):
    print(accuracy_score(y_pred,y_test))
    print(confusion_matrix(y_pred,y_test))

In [ ]:
validar_arvore(y_test,y_pred_arvore_decisao)

In [ ]:
precision_score(y_pred,y_test)
print('precision',precision_score)
print(confusion_matrix(y_pred,y_test))